@import url("normalize.css");
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Jost", sans-serif;
}
.container {
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
}
.header-navbar {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 1.8rem;
  margin-right: 2rem;
  padding: 0;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.header-nav-item {
  gap: 1.875rem;
}
.header-nav-link {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 17px;
  color: #5d6c7b;
  text-decoration: none;
  transition: color 0.2s;
}
.header-svg {
  gap: 0.5313rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-svg-item {
  text-decoration: none;
}
.header-phone {
  margin-left: 40.19rem;
}
.header-phone-link {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
  transition: color 0.2s;
}
.seporator {
  border-bottom: 1px solid #ecf3ff;
}
.seporator-header {
  border-bottom: 1px solid #ecf3ff;
}
.seporator-margin {
  margin-bottom: 7.5rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.88rem;
  padding-bottom: 2.5rem;
}
.header-fixed {
  position: fixed;
  display: flex;
  align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  z-index: 2;
  top: 0;
  left: 0;
  right: 2px;
  justify-content: center;
  background: #fff;
  width: 100%;
}
.header-logo {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
  color: #282739;
  text-decoration: none;
  margin-right: 2.1875rem;
}
.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6f73ee;
  border: 1.5px solid #6f73ee;
  border-radius: 5px;
  width: 7.125rem;
  height: 2.5rem;
  cursor: pointer;
  margin-right: 1.25rem;
  transition: background-color 0.2s;
}
.header-button-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  color: #ffffff;
}
.header-button-lines {
  width: 13px;
  height: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 0.8125rem;
}
.header-button-line {
  height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.header-button-line:nth-child(3) {
  width: 50%;
}
.input-header-form {
  position: relative;
  width: 37.5rem;
  margin-right: 2.8125rem;
}
.input-header {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1.5px solid #6f73ee;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #9e9c9c;
  font-size: 0.9rem;
}
.button-input {
  position: absolute;
  top: 0;
  right: 0px;
  width: 40px;
  height: 40px;
  border: 1.5px solid #6f73ee;
  background: #6f73ee;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button-input:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 1rem;
  color: #fff;
}
.svg-icon-viber {
  fill: #5d6c7b;
  transition: fill 0.2s;
}
.svg-icon-wapp {
  fill: #5d6c7b;
  transition: fill 0.2s;
}
.svg-icon-tg {
  fill: #5d6c7b;
  transition: fill 0.2s;
}
.svg-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.svg-card-item {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  text-decoration: none;
}
.svg-card-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  color: #282739;
  margin: 0;
  margin-left: -1rem;
}
.container-image {
  max-width: 96%;
  margin: auto;
  border-radius: 10px;
  background-image: url(../img/image-woman.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: right;
  position: relative;
  height: 27.5rem;
}
.container-image::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    45.21deg,
    #6f73ee 29.37%,
    rgba(111, 115, 238, 0) 66.02%
  );
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.test-drive {
  position: relative;
  z-index: 1;
}
.test-drive-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-top: 2.4375rem;
  z-index: 10;
}
.test-drive-address {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 17px;
  color: #ffffff;
}
.test-drive-schedule {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.7;
}
.section-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 51px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  max-width: 38.125rem;
}
.section-title-black {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  max-width: 40rem;
}
.section-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
  padding-top: 0.9375rem;
  padding-bottom: 1rem;
}
.section-text-black {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  color: #282739;
}
.test-drive-item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2.1875rem;
}
.test-drive-link {
  display: flex;
  align-items: center;
}
.test-drive-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.9375rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.test-drive-link-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 18px;
  color: #ffffff;
  max-width: 9.375rem;
}
.test-drive-button {
  background: #ffffff;
  border: 1.3px solid #ffffff;
  border-radius: 5px;
  width: 10rem;
  height: 3.4375rem;
  margin-top: 1.6rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.test-drive-button-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  text-align: center;
  color: #6f73ee;
}
.blog {
  margin-top: 6rem;
}
.blog-container {
  position: relative;
}
.blog-item {
  list-style: none;
  padding: 0;
}
.blog-link {
  display: flex;
  gap: 0.625rem;
}
.blog-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  color: #282739;
  margin: 0;
  margin-bottom: 0.625rem;
}
.blog-image {
  position: absolute;
  top: -1.5625rem;
  right: -8.6875rem;
  width: 32.1875rem;
  height: 26.25rem;
}
.proper {
  margin-top: 7.8rem;
}
.proper-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.proper-image {
  position: absolute;
  top: 0;
  left: -8.6875rem;
}
.model {
  margin-top: 7.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title-model {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 2.1875rem;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  color: #282739;
  max-width: 45rem;
  margin: auto;
  margin-bottom: 3.125rem;
}
.model-features {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 2.5rem;
  height: 30.625rem;
  position: relative;
}
.model-features-item {
  width: 22%;
  min-height: 100%;
}
.model-features-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 15.9375rem;
  height: 14.375rem;
  background: #f0f1f5;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px;
}
.model-features-image {
  background-image: url("../img/scooter-m4.jpg");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.model-features-item-plaza {
  width: 2.5rem;
  height: 1.5625rem;
  padding: 4px 8px;
  background: #ee685f;
  border-radius: 5px;
}
.model-features-item-plaza-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 17px;
  color: #ffffff;
  margin: 0;
}
.model-features-item-plaza-green {
  width: 3.9375rem;
  height: 1.5625rem;
  padding: 4px 8px;
  background: #75d14a;
  border-radius: 5px;
}
.model-features-item-plaza-green-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.model-features-header-button {
  border: 1.3px solid #f0f1f5;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  width: 35px;
  height: 35px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.model-features-footer {
  width: 15.9375rem;
  height: 16.25rem;
  border-radius: 0px 0px 10px 10px;
  border: 1.3px solid #f0f1f5;
}
.model-features-footer-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 26px;
  color: #282739;
  margin: 1.25rem 1.5625rem;
}
.model-features-footer-item {
  list-style: none;
  padding: 0;
  columns: 2 auto;
  margin-left: 1.5625rem;
}
.model-features-footer-link {
  display: flex;
  align-items: center;
  columns: 2;
  margin: 0;
  margin-bottom: 1rem;
  width: 6rem;
  gap: 10px;
}
.model-features-footer-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 16px;
  color: #5d6c7b;
  margin: 0;
}
.model-features-price {
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
}
.model-features-old-price {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #5d6c7b;
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
}
.model-features-new-price {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 29px;
  color: #282739;
  margin: 0;
}
.model-features-box {
  display: flex;
  align-items: center;
}
.model-features-button-shoping,
.model-features-button-heart {
  border: 1.3px solid #f0f1f5;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.model-features-button-shoping {
  padding: 9px 5px;
  margin-right: 0.625rem;
}
.model-features-button-heart {
  padding: 10px 5px;
}
.model-features-button {
  margin: 0.9375rem 1.5625rem 1.25rem;
  background: #6f73ee;
  border-radius: 5px;
  border: #fff;
  width: 12.8125rem;
  height: 2.1875rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.model-features-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.bg-grey {
  margin: auto;
  margin-top: 6.25rem;
  width: 96%;
  height: 26.8125rem;
  background: #f4f7fb;
  border-radius: 10px;
  position: relative;
}
.cta-image {
  position: absolute;
  bottom: 0;
  right: 11.25rem;
}
.cta-form-wrapper-box {
  display: flex;
  align-items: center;
}
.cta-form-wrapper {
  max-width: 40rem;
  margin-top: 4.3rem;
}
.cta-form-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 2.07rem;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  margin: 0;
  margin-bottom: 2.1875rem;
}
.cta-form-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  color: #282739;
  margin: 0;
  margin-bottom: 1.25rem;
}
.cta-button {
  width: 16.125rem;
  height: 3.3125rem;
  background: #6f73ee;
  border-radius: 5px;
  border: #f4f7fb;
  cursor: pointer;
  transition: background-color 0.2s;
}
.cta-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.input-group-button {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.input-group {
  position: relative;
  height: 3.3125rem;
  width: 16.4375rem;
  background-color: #f4f7fb;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.9375rem 1.5625rem;
  border: 1.3px solid #f0f1f5;
  background-color: transparent;
  border-radius: 5px;
}
.input:focus {
  border: 1.3px solid #6f73ee;
  outline: 0;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 0.9375rem;
  left: 1.5625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  color: #5d6c7b;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.8rem;
  left: 1 rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 8px;
}
.footer-mail-input:focus {
  border: 1.3px solid #f0f1f5;
  outline: 0;
}
.footer-mail-input-group-label {
  position: absolute;
  cursor: text;
  top: 0.9375rem;
  left: 1.5625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  color: #5d6c7b;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.footer-mail-input:focus ~ .footer-mail-input-group-label,
.footer-mail-input:not(:placeholder-shown).footer-mail-input:not(:focus)
  ~ .footer-mail-input-group-label {
  top: -0.8rem;
  left: 1 rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 8px;
}
.input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  font-size: 0.8rem;
  top: 0;
  right: 10px;
  background-color: inherit;
  transform: translateY(-50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}
.cta-argeement {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 1.25rem;
  margin-left: -0.75rem;
}
.cta-argeement-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 14px;
  color: #282739;
  max-width: 19.375rem;
  margin: 0;
}
.cta-argeement-link {
  color: #282739;
  text-decoration: none;
  border-bottom: 1.3px solid #f4f7fb;
  transition: border-color 0.2s;
}
.cta-argeement-input {
  opacity: 0;
}
.cta-argeement-input ~ label::before {
  content: "\2713";
  text-align: center;
  color: white;
  background-color: white;
  line-height: 1rem;
  width: 1rem;
  height: 1rem;
  border: 1.3px solid #f4f7fb;
  border-radius: 5px;
  margin: 5px;
  margin-left: -1rem;
  display: inline-block;
}
.cta-argeement-input:checked ~ label::before {
  color: #6f73ee;
  border: 1.3px solid #f0f1f5;
}
.footer-mail {
  background-color: #6f73ee;
  height: 6rem;
  width: 100%;
  margin-top: 6.25rem;
  display: flex;
  align-items: center;
}
.footer-mail-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  max-width: 27.8125rem;
}
.footer-mail-form {
  display: flex;
  align-items: center;
  gap: 5.9375rem;
}
.footer-mail-input {
  display: flex;
  align-items: center;
}
.footer-mail-button {
  background: #ffffff;
  border-radius: 5px;
  border: 1.3px solid #6f73ee;
  width: 8.75rem;
  height: 3.3125rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.footer-mail-button-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  text-align: center;
  color: #6f73ee;
}
.footer-mail-input-button {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.footer-mail-input-group {
  position: relative;
  height: 3.3125rem;
  width: 25.625rem;
  background: #6f73ee;
  border-radius: 5px;
}
.footer-mail-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.9375rem 1.5625rem;
  border: 1.3px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  border-radius: 5px;
}
.footer-mail-input:focus {
  outline: 0;
}
.footer-mail-input-group-label {
  position: absolute;
  cursor: text;
  top: 0.9375rem;
  left: 1.5625rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  color: #ffffff;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.footer-mail-input:focus ~ .footer-mail-input-group-label,
.footer-mail-input:not(:placeholder-shown).footer-mail-input-group-label:not(
    :focus
  )
  ~ .footer-mail-input-group-label {
  top: -0.8rem;
  left: 1 rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 8px;
}
.footer-mail-input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  font-size: 0.8rem;
  top: 0;
  right: 10px;
  background-color: inherit;
  transform: translateY(-50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}
.footer {
  background-color: #f4f7fb;
  display: flex;
}
.footer-buttom {
  display: flex;
  margin-top: 2.8125rem;
  margin-bottom: 3.6875rem;
}
.footer-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
  color: #282739;
  margin: 0;
  margin-bottom: 0.9375rem;
}
.footer-list {
  padding: 0;
  list-style: none;
  margin-right: 6.8rem;
  margin-bottom: 0;
}
.footer-item {
  margin-bottom: 0.625rem;
}
.footer-link-columns {
  margin-right: 3.2rem;
}
.footer-link {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #5d6c7b;
  margin-top: 0;
  margin-bottom: 0.3125rem;
}
.footer-link-time {
  margin-top: 0.4375rem;
}
.footer-column {
  columns: 2 auto;
  margin-right: 3rem;
}
.footer-phone {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  color: #282739;
  transition: color 0.2s;
}
.footer-title-column {
  columns: 2 auto;
  margin-right: 3.75rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: 0;
}
.footer-link-item {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 17px;
  color: #6f73ee;
  border-bottom: 1.3px solid #f4f7fb;
  transition: border-color 0.2s;
  height: 1.3rem;
}
.footer-seporator {
  opacity: 0.15;
  border: 1px solid #5d6c7b;
}
.footer-programs {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.footer-program {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 15.5rem;
  margin-left: 1rem;
}
.footer-program-link-apple {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 7px;
  width: 8.4375rem;
  height: 2.8125rem;
  background: #ffffff;
  border-radius: 5px;
}
.footer-program-link-google {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 9.375rem;
  height: 2.8125rem;
  background: #ffffff;
  border-radius: 5px;
}
.footer-program-link-image {
  width: 2.5rem;
  height: 2.5rem;
}
.footer-program-link-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 20px;
  color: #282739;
  margin: 0;
  margin-bottom: -0.5rem;
}
.footer-program-link-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
  color: #282739;
  margin: 0;
}
.footer-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 13px;
  width: 7.8125rem;
  height: 2.8125rem;
  background: #ffffff;
  border-radius: 5px;
}
.footer-networks-link-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  color: #282739;
  margin: 0;
}
.footer-networks-link-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 14px;
  color: #5d6c7b;
  margin: 0;
}
.footer-info {
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
  margin-bottom: 1rem;
}
.footer-info-requisit,
.footer-info-confidentiality {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 17px;
  color: #5d6c7b;
  text-decoration: none;
  border-bottom: 1px solid #f4f7fb;
  transition: border 0.2s;
}
.footer-info-requisit {
  margin-right: 2.8125rem;
  transition: border 0.2s;
  border-bottom: 1px solid #f4f7fb;
}
.footer-info-social-link {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 23rem;
  margin-right: 2.5rem;
}
.footer-info-social {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 2.15rem;
  height: 1.4rem;
  gap: 2px;
  background: #ffffff;
  border: 0.486818px solid #eaebed;
  border-radius: 2.92091px;
}
.icon-apple {
  margin-bottom: 0.125rem;
}
.footer-info-social-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 20px;
  color: #282739;
  margin: 0;
}
.footer-info-chat {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.footer-info-chat-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #5d6c7b;
  margin: 0;
}
.footer-info-chat-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.1875rem;
}
.modal {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  transition: opacity 0.2s;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-container {
  transform: translateY(0);
}
.modal-container {
  margin: auto;
  width: 49.375rem;
  height: 36.875rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  transform: translateY(-20%);
  transition: transform 0.3s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 17px;
  right: 17px;
}
.modal-dialog {
  max-width: 18.125rem;
}
.modal-title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 36px;
  text-transform: uppercase;
  color: #282739;
  margin: 0;
  margin-bottom: 0.625rem;
}
.modal-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #282739;
  margin: 0;
  margin-bottom: 1.875rem;
}
.modal-dialog-form-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 17px;
  color: #5d6c7b;
  margin: 0;
  margin-top: 3.4375rem;
  margin-bottom: 1.25rem;
}
.modal-form-argement-text {
  max-width: 12.6rem;
}
.modal-input-group,
.modal-button {
  width: 95%;
}
.modal-input-group {
  background-color: #fff;
  margin-bottom: 1.25rem;
}
.modal-image {
  width: 20rem;
  height: 30rem;
}
.modal-argement-link {
  color: #6f73ee;
  text-decoration: none;
  border-bottom: 1.3px solid #fff;
  transition: border-color 0.2s;
}
.mobile-menu {
  display: none;
}
.footer-link-link {
  transition: color 0.2s;
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 71.875rem;
  }
  .header-phone {
    margin-left: 39.75rem;
  }
  .blog-image {
    position: absolute;
    top: 1rem;
    right: -5.687rem;
    width: 33.188rem;
    height: 28.25rem;
  }
  .proper-image {
    position: absolute;
    top: 2.7rem;
    left: -5.687rem;
    width: 35rem;
    height: 30rem;
  }
  .section-title-black {
    font-size: 2rem;
  }
  .blog-text {
    font-size: 1rem;
  }
  .model-features-item-plaza {
    padding: 1px 7px;
  }
  .model-features-item-plaza-green {
    padding: 1px;
  }
  .model-features-price {
    margin-right: 1rem;
  }
  .cta-image {
    width: 27rem;
  }
  .footer-mail-form {
    gap: 1.938rem;
  }
  .footer-list {
    margin-right: 6rem;
  }
  .footer-column {
    margin-right: 2rem;
  }
  .footer-link-columns {
    margin-right: 3.2rem;
  }
  .footer-title-column {
    margin-right: 1.75rem;
  }
  .footer-program {
    margin-right: 9rem;
  }
  .footer-info-social-link {
    margin-left: 18rem;
  }
  .model-features-footer-title {
    margin: 0.2rem 1.5rem;
  }
  .input-header-form {
    width: 33rem;
    margin-right: 2.8rem;
  }
  .header-button {
    margin-right: 3.25rem;
  }
  .header-logo {
    margin-right: 3.188rem;
  }
  .container-image {
    height: 30.5rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 11px;
  }
  .container {
    max-width: 55rem;
  }
  .header-navbar {
    display: none;
  }
  .header-button {
    display: none;
  }
  .svg-card {
    display: none;
  }
  .input-header-form {
    width: 3rem;
    margin-right: 1px;
  }
  .header-logo-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem 1.1rem;
    border: 1.3px solid #6f73ee;
    border-radius: 5px 0 0 5px;
    background-color: #6f73ee;
    margin-left: 1px;
    z-index: 2;
  }
  .mobile-menu-line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.2s; /* планость действий в секундах*/
    margin-bottom: 2px;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(2.5px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-2.5px);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-list {
    list-style-type: none;
    padding-left: 10px;
  }
  .mobile-menu-link-item {
    text-decoration: none;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 17px;
    color: #6f73ee;
  }
  .mobile-menu-title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 2.125rem;
    line-height: 26px;
    color: #282739;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 0.9375rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    color: #5d6c7b;
    margin-top: 0.5rem;
    margin-bottom: 0.3125rem;
  }
  .mobile-menu-phone {
    text-decoration: none;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 23px;
    color: #282739;
  }
  .blog-image {
    position: relative;
    top: 1rem;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .proper-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .proper-container-box {
    margin-left: 0;
  }
  .proper-container {
    display: block;
  }
  .cta-image {
    display: none;
  }
  .footer-mail-form {
    flex-direction: column;
  }
  .footer-mail {
    height: 11.25rem;
  }
  .footer-column {
    columns: 1;
  }
  .footer-title-column {
    columns: 1;
    display: flex;
    align-items: stretch;
    gap: 0;
    margin-top: 0;
    flex-direction: column;
  }
  .footer-programs {
    align-items: stretch;
    flex-direction: column;
  }
  .footer-program {
    align-items: stretch;
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .footer-networks {
    align-items: stretch;
  }
  .footer-info {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;
  }
  .footer-info-social-link {
    margin-left: 0rem;
  }
  .model {
    display: none;
  }
  .section-title {
    font-size: 2.5rem;
    line-height: 35px;
    max-width: 22.125rem;
  }
  .container-image {
    height: 35.5rem;
    background-size: cover;
  }
  .modal-image {
    display: none;
  }
  .modal-title {
    font-size: 1.5625rem;
    line-height: 25px;
    margin-bottom: 0.625rem;
  }
  .modal-text {
    margin-bottom: 0.875rem;
  }
  .modal-dialog-form-text {
    margin-top: 1.438rem;
  }
  .modal-container {
    width: 27.375rem;
    height: 35.875rem;
  }
}
@media (max-width: 756px) {
  html {
    font-size: 11px;
  }
  .container {
    max-width: 29rem;
  }
  .container-image::before {
    background: #6f73ee;
  }
  .container-image {
    height: 37.5rem;
  }
  .footer-mail {
    height: 16.25rem;
  }
  .footer-buttom {
    flex-direction: column;
  }
  .footer-mail-input-button {
    flex-direction: column;
  }
  .cta-form-wrapper {
    margin-top: 1.625rem;
  }
  .bg-grey {
    height: 34.813rem;
  }
  .input-group-button {
    align-items: stretch;
    flex-direction: column;
  }
  .test-drive-button {
    width: 100%;
  }
  .section-title-black {
    line-height: 35px;
    margin-top: 3rem;
  }
  .input-group {
    width: 100%;
  }
  .cta-button {
    width: 100%;
  }
  .footer-mail-button {
    width: 25.75rem;
  }
}
@media (min-width: 1500px) {
  .container-image::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      45.21deg,
      #6f73ee 39.37%,
      rgba(111, 115, 238, 0) 66.02%
    );
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
@media (min-width: 992px) {
  .header-nav-link:hover {
    color: #6f73ee;
  }
  .header-button:hover {
    background: #8e91d7;
  }
  .button-input:hover {
    background: #8e91d7;
  }
  .header-phone-link:hover {
    color: #6f73ee;
  }
  .model-features-button:hover {
    background: #8e91d7;
  }
  .cta-button:hover {
    background: #8e91d7;
  }
  .footer-mail-button:hover {
    background: #f4f7fb;
  }
  .footer-link-link:hover {
    color: #6f73ee;
  }
  .footer-phone:hover {
    color: #6f73ee;
  }
  .footer-info-confidentiality:hover {
    border-color: #5d6c7b;
  }
  .footer-info-requisit:hover {
    border-color: #5d6c7b;
  }
  .test-drive-button:hover {
    background: #f4f7fb;
  }
  .cta-argeement-link:hover {
    border-color: #282739;
  }
  .footer-link-item:hover {
    border-color: #6f73ee;
  }
  .modal-argement-link:hover {
    border-color: #6f73ee;
  }
  .svg-icon-viber:hover {
    fill: #6f73ee;
  }
  .svg-icon-wapp:hover {
    fill: #25d366;
  }
  .svg-icon-tg:hover {
    fill: #0088cc;
  }
}
